@model IEnumerable<ByteTechSchoolERP.Models.ViewModels.EmployeeViewModel>

<div class="page-wrapper" style="background-color: #f7f7fa;">
    <div class="tab-container container-fluid mt-3">
        <div class="style-0" style="max-width:97%; margin-left:20px;">
            <strong class="style-1">Human Resource</strong> <i class="fas fa-home home-icon"></i>
            Employee Management
        </div>

        <div class="tab-container container-fluid mt-3">
            <div class="card">
                <div class="card-header">
                    <h5>Search Filters</h5>
                </div>
                <div class="card-body">
                    <form id="filterForm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="firstNameFilter">Name</label>
                                    <input type="text" class="form-control" id="firstNameFilter" placeholder="Name" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="firstNameFilter">Father Name</label>
                                    <input type="text" class="form-control" id="lastNameFilter" placeholder="Father Name" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="phoneFilter">Phone Number</label>
                                    <input type="text" class="form-control" id="phoneFilter" placeholder="Phone Number" />
                                </div>
                            </div>
                          @*   <div class="col-md-4">
                                <div class="form-group">
                                    <label for="emailFilter">Email</label>
                                    <input type="text" class="form-control" id="emailFilter" placeholder="Email" />
                                </div>
                            </div>

                         
                       
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dateRangeFilter">Date Of Birth</label>
                                    <input type="date" class="form-control" id="dateRangeFilter" placeholder="Date Of Birth" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sourceFilter">Salary</label>
                                    <input type="text" class="form-control" id="sourceFilter" placeholder="Salary" />
                                </div>
                            </div>

                       
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dptFilter">Department</label>
                                    <input type="text" class="form-control" id="dptFilter" placeholder="Department" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="roleFilter">Role</label>
                                    <input type="text" class="form-control" id="roleFilter" placeholder="Role Name" />
                                </div>
                            </div> *@

                        </div>

                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div style="justify-content: right!important;">
                            <a asp-area="Admin" asp-controller="HRM" asp-action="AddEmployee" class="btn btn-info" style="float: right;
  margin-bottom: 7px;color: #fff;">
                                <i class="fas fa-user-plus"></i> Add Employee
                            </a>
                        </div>

                        <table id="table" class="display responsive nowrap table-responsive" style="width:100%;">
                            <thead style="background-color: #3d5ee1; color: #fff;">
                                <tr>
                                    <th>Name</th>
                                    <th>Father Name</th>
                                    <th>Date of Birth</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Salary</th>
                                    <th>Department</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in Model)
                                {
                                    <tr>
                                        <td>@employee.FirstName</td>
                                        <td>@employee.FatherName</td>
                                        <td>@(employee.DateOfJoining?.ToShortDateString() ?? "N/A")</td>
                                        <td>@employee.Email</td>
                                        <td>@employee.Phone</td>
                                        @* <td>@employee.Salary</td> *@
                                        <td>
                                            @(decimal.TryParse(employee.Salary.ToString(), out var salaryValue)
                                                ? salaryValue.ToString("N0")
                                                : "N/A")
                                        </td>
                                        <td>@employee.DepartmentName</td>
                                        <td>@employee.RoleName</td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { id = employee.Id })" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           

            
             
             
           
        </div>
    </div>
</div>

<!-- DataTables and Responsive CSS/JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>

<!-- Initialize DataTables with Responsive Option -->
<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "responsive": true // Enable responsive feature

        });

        // Filter by First Name
        $('#firstNameFilter').on('keyup', function () {
            table.column(0).search(this.value).draw();
        });
        $('#lastNameFilter').on('keyup', function () {
            table.column(1).search(this.value).draw();
        });

        // Filter by Email
        $('#emailFilter').on('keyup', function () {
            table.column(3).search(this.value).draw();
        });

        // Filter by Phone Number
        $('#phoneFilter').on('keyup', function () {
            table.column(4).search(this.value).draw();
        });

        // Filter by Date of Birth
        $('#dateRangeFilter').on('change', function () {
            var selectedDate = this.value;
            if (selectedDate) {
                // Use a custom filtering function for date comparison
                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        var date = data[2]; // Date of Birth is in the third column (index 2)
                        return date === selectedDate; // Compare selected date with table date
                    }
                );
                table.draw();
            } else {
                // If the filter is cleared, redraw the table without filtering
                $.fn.dataTable.ext.search.pop();
                table.draw();
            }
        });

        // Filter by Salary
        $('#sourceFilter').on('keyup', function () {
            table.column(5).search(this.value).draw();
        });

        // Filter by Department
        $('#dptFilter').on('keyup', function () {
            table.column(6).search(this.value).draw();
        });

        // Filter by Role
        $('#roleFilter').on('keyup', function () {
            table.column(7).search(this.value).draw();
        });
    });
</script>

